footer

    - if(fancy || slick)
        +inc('js','js/jquery-3.3.1.min.js')
    - if(fancy)
        +inc('js','js/jquery.fancybox.min.js')
    - if(slick)
        +inc('js','slick.js')
    - if(greensock)
        +inc('js','js/greensock.js')
    +inc('js','front/libs/Modaler.lib.js',true)(type='module')
    +inc('js','front/libs/MainEventBus.lib.js')(type='module')
    +inc('js','front/libs/Fetch.lib.js')(type='module')
    +inc('js','front/libs/Conts.lib.js')(type='module')
    +inc('js','front/components/messenger/Messenger.js')(type='module')
    +inc('js','front/components/messenger/MessengerCtrl.js')(type='module')
    +inc('js','front/components/messenger/MessengerModel.js')(type='module')
    +inc('js','front/components/messenger/MessengerView.js')(type='module')
    +inc('js','front/components/main/Model.js')(type='module')
    +inc('js','front/components/main/Module.js')(type='module')
    +inc('js','front/components/main/View.js')(type='module')
    +inc('js','front/components/main/Ctrl.js')(type='module')